
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(2, 2, 35);
}

.portfolio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(26, 26, 59);
    height: 40px;
    color: white;
    
}

.left{
    font-size: 1.55rem;
}
.right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right ul li{
    margin: 10px;
    list-style-type: none;
}

.right ul li:hover{
    color: aqua;
    font-size: 1.01rem;
    cursor: pointer;
}

.firstsection{
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.firstsection > div{
    width: 40%;
}

.leftsection{
    margin-top: 30px;
    font-size: 3rem;
}
.rightsection img{
    margin-top: 30px;
    width: 80%;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 40vw;
}

.secondSection h2{
    color: white;
    font-size: 1.9rem;
}

main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 40px 44px;
}

.text-grey{
    color: grey;
}

.secondSection .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 32px 0;
    display: flex;
}

.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 90px;
}

.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title{
    color: white;
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc{
    color: grey;
    position: relative;
    top: 90px;
    width: 150px
}

footer{
    background-color: #0e0e1a;
}

.footer{
    color: white;
    padding: 23px 122px;
    display: flex;
    justify-content: space-around;
}

.footer ul{
    list-style: none;
}

.footer-rights{
    color: grey;
    text-align: center;
}